tr#new_attachment_progress: td colspan=3
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped.active(
      style="width: 0%"
      role="progressbar"
      aria-valuenow=0
      aria-valuemin=0
      aria-valuemax=100
    ) = percentage(0)
