= render "dorsale/flash"

- if policy(::Dorsale::Alexandrie::Attachment).create?
  = render "dorsale/alexandrie/attachments/form", attachable: @attachable

= render "dorsale/alexandrie/attachments/list", attachable: @attachable
