h1= t('emails.user.new_account.body.title')
h2= t('emails.user.new_account.body.subtitle')
p= t('emails.user.new_account.body.login', login: @user.email)
p= t('emails.user.new_account.body.password', password: @password)
