<!DOCTYPE html>
<html>
<head>
  <title>Dorsale</title>
  <%= stylesheet_link_tag    "dorsale/application", media: "all" %>
  <%= javascript_include_tag "dorsale/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
