= simple_form_for :filters, url: dorsale.small_data_filters_path, wrapper: :inline_form do |f|
  = f.input(:customer_guid,
    :collection    => @people.map { |p| [p.name, p.guid] },
    :include_blank => t("filters.all_customers"),
  )

  = f.input(:bm_time_period,
    :collection    => dorsale_time_periods_for_select,
    :include_blank => false,
  )

  = f.input(:bm_payment_status,
    :collection    => billing_machine_payment_status_for_filter_select,
    :include_blank => false,
  )

  = filter_buttons
