.customer_vault
  .person
    .info strong
      @extend .text-muted

  .person-tab-content
    padding: 1em 0

  .comment
    padding: 10px
    margin: 10px 0

    p + p
      margin-bottom: 0

  .index-tabs-container
    position: relative

    .index-tabs
      margin-bottom: 1em

    form.search
      position: absolute
      top: 0
      right: 0
      width: 33.33%
      margin: 0
