.expense_gun
  .pull-right .btn
    margin-left: 0.5em

  @media print
    font-size: 11px !important

    .expense_line .row
      display: flex

      > .col-md-4
        width: 33.33%

    .attachments-panel
      display: none
