.flyboy
  table
    @extend .table
    @extend .table-bordered

  .onwarning
    background: $state-warning-bg !important

  .finished
    background: $state-success-bg !important

  .onalert
    background: $state-danger-bg !important

  .btn, form.search
    margin: 5px

  .context div.infos
    @extend p.infos

  div.progress
    display: inline-block
    width: 150px
    margin: 0

  table textarea
    height: 4em !important

  td.task_progress
    width: 150px

  .context .actions
    border-bottom: 1px solid $well-border
    margin: 0 0 15px 0
    padding: 0 0 10px 0

  .actions.top
    text-align: right

    form
      display: inline-block
      width: 30em

    form, p
      margin: 0
      padding: 0

    .btn
      position: relative
      bottom: 1.1em
      right: 1em
      padding: 0.55em
