.billing_machine
  .actions
    text-align: right

    .btn
      margin: 0 0 0.5em 0.5em

  .paid
    background: $state-success-bg !important

  .late
    background: $state-warning-bg !important

  .on_alert
    background: $state-danger-bg !important


#billing_machine-form,
#billing_machine-show
  table
    width: 100%

    td, th
      border: 1px solid #DDD

    th
      width: 8em
      padding: 0.5em

    td
      padding: 0 0.25em 0 0
      text-align: right

    td > input,
    td > textarea,
      text-align: right
      margin: 0
      padding: 0.5em
      background: transparent
      width: calc(100% - 1em)
      outline: none
      border: none

    textarea
      display: block
      height: initial !important
      resize: none
      overflow: hidden

    th.line-label
      width: auto
      text-align: left

    td.line-label,
    td.line-label input,
    td.line-label textarea,
    td.line-unit,
    td.line-unit input,
    td.line-unit textarea,
      text-align: left

    th.actions,
    td.actions,
      padding: 0
      width: 2.5em
      text-align: center

    th.actions
      border: none

    td[class*=total],
    td[class*=balance],
    td[class*=vat_amount],
      background: #F1F2F3

    tfoot td[colspan],
      border: none

  a#add-new-line
    margin-bottom: 3em

  .form-control
    @extend .input-sm

  .form-group
    margin: 0

  .form-group + .form-group
    margin-top: 1em

  label abbr
    border: none

  #lines-table
    margin-bottom: 2em

  #totals-table
    width: 24em
    margin: 0 0 0 auto

    th
      width: 16em
      text-align: right
      padding-right: 1em

    td
      width: 8em

  #quotation_comments
    height: 5.5em !important


#billing_machine-show
  table
    th, td
      padding: 0.5em

    td[class*=total],
    td[class*=balance],
    td[class*=vat_amount],
      background: #FFFFFF

  .document-panel
    margin-top: 1em
