= filters_form do |f|
  = f.input(:customer_guid,
    :collection    => @people.map { |p| [p.to_s, p.guid] },
    :include_blank => t("filters.all_customers"),
  )

  = f.input(:bm_time_period,
    :collection    => dorsale_time_periods_for_select,
    :include_blank => false,
  )

  = f.input :bm_date_begin, input_html: {placeholder: t("filters.date_begin")}
  = f.input :bm_date_end,   input_html: {placeholder: t("filters.date_end")}

  = f.input(:bm_quotation_state,
    :collection    => billing_machine_quotation_states_for_filter_select,
    :include_blank => false,
  )
