= info person, :tags,     tags(person)
= info person, :email,    helper: :email_link
= info person, :phone,    helper: :tel_link
= info person, :mobile,   helper: :tel_link
= info person, :fax,      helper: :tel_link
