= filters_form do |f|
  = f.input :person_type,
    :collection => person_types_for_filter_select,
    :include_blank => ::Dorsale::CustomerVault::Person.t(:all_types)

  = f.input :person_tags,
    :collection    => customer_vault_tag_list,
    :input_html    => {multiple: true},
    :placeholder => ::Dorsale::CustomerVault::Person.t(:all_tags)

  = f.input :person_origin,
    :collection    => customer_vault_origins_for_select,
    :include_blank => ::Dorsale::CustomerVault::Person.t(:all_origins)

  = f.input :person_activity,
    :collection    => customer_vault_activity_types_for_select,
    :include_blank => ::Dorsale::CustomerVault::Person.t(:all_activity_types)
