form
  .actions
    text-align: center
    border-top: 1px solid #DDD
    margin-top: 25px
    padding-top: 20px

    .btn
      margin: 5px

  textarea
    height: 15em !important // 10 lines

.btn
  @extend .btn-default

.form-group.upload
  .form-control
    position: relative

  input
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    opacity: 0
    z-index: 100

  label
    position: absolute
    left: 1em
    font-weight: normal
